{% extends "main/base.html" %}

{% block nav_question %}active{% endblock nav_question %}

{% block content %}

<form action="{% url 'main:create_question' %}" method="post">
{% csrf_token %}
    <div class="container">
        <div class="mb-3">
            <label for="question" class="form-label" aria-describedby="question_error">Question</label>
            <input type="text" name="{{ form.question_text.name }}" class="form-control" id="question">
            <div id="question_error" class="form-text">{{ form.question_text.errors }}</div>
        </div>
        <input type="hidden" name="{{ form.pub_date.name }}" value="{{ form.pub_date.value }}">
        <div class="container d-grid gap-2 col-3 mx-auto">
            <input type="submit" value="Create" class="btn btn-success">
        </div>
    </div>
</form>

{% endblock content %}